.container {
  @include flex(row, space-between, center);
  min-height: 90vh;
  height: 90vh;
  width: 90%;
  margin: 0 0 0 auto;
  position: relative;
  overflow: hidden;
}

.forms-container {
  flex: 1 1 40rem;
  position: relative;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
  margin: 5rem 20rem;
}

.panel {
  overflow: hidden;
  flex: 1 1 50rem;
  text-align: center;
  @include flex(column, space-between, center);
  .content {
    margin: 4rem;
    padding: 5rem 0;
    color: white;
  }
  svg {
    transform: translate(3rem, -5rem);
  }
}

form {
  @include flex(column, center, center);
  padding: 3rem 2rem;
  box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: 0.2),
    0px 20px 40px rgba($color: #000000, $alpha: 0.2);
  border-radius: 2rem;
  .title {
    font-size: 4rem;
    color: #444;
    margin: 4rem 0 1rem 0;
  }
}

.input-field {
  max-width: 380px;
  width: 100%;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  .input-box {
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;

    input {
      width: 100%;
      padding: 0.5rem;
      margin: 1rem 0;
      border: none;
      border-bottom: 2px solid black;
      outline: none;
      resize: none;
      font-size: 2rem;
    }

    span {
      position: absolute;
      left: 0;
      padding: 0.5rem 0;
      margin: 1rem 0;
      pointer-events: none;
      transition: 0.5s;
    }
  }
}

.input-msg {
  max-width: 400px;
  width: 100%;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;

  i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  .input-box {
    position: relative;
    width: 90%;
    margin: 0 auto;
    margin-top: 1rem;

    textarea {
      width: 100%;
      padding: 0.5rem;
      margin: 1rem 0;
      border: none;
      border-bottom: 2px solid black;
      outline: none;
      resize: none;
      font-size: 1.5rem;
    }
    span {
      position: absolute;
      left: 0;
      padding: 0.5rem 0;
      margin: 1rem 0;
      pointer-events: none;
      transition: 0.5s;
    }
  }
}

.input-box input:focus ~ span,
.input-box input:valid ~ span,
.input-box textarea:focus ~ span,
.input-box textarea:valid ~ span {
  color: #278ea5;
  font-size: 1.2rem;
  transform: translateY(-2rem);
}

.input-field textarea {
  max-width: 300px;
  width: 100%;
  height: 1000px;
}

.btn {
  width: 15rem;
  background-color: #071e3d;
  border: none;
  border-radius: 2rem;
  outline: none;
  height: 5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 2rem 0;
  cursor: pointer;
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn:hover {
  background-color: rgba(31, 66, 135, 0.911);
}

.container:before {
  content: "";
  position: absolute;
  height: 180%;
  width: 100%;
  top: -70%;
  left: 55%;
  background-image: linear-gradient(50deg, #278ea5e3 20%, #21e6c2d3 50%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: -2;
}
