* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2.8rem;
}

li,
button,
input,
label,
p,
a {
  font-size: calc(1.2rem + 1vw);
}

h2 {
  font-size: calc(4rem + 1vw);
}

h3 {
  font-size: calc(2.8rem + 1vw);
}

h4 {
  font-size: calc(2rem + 1vw);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  padding-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  width: 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.intro {
  min-height: 90vh;
  width: 90%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro h2 {
  font-size: 8rem;
  padding-top: 2rem;
  display: inline-block;
}

.intro h3 {
  padding: 3rem 0rem;
}

.intro p {
  padding: 2rem 0rem;
}

.splash-right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

.splash-left {
  position: absolute;
  left: 0%;
  bottom: 0%;
  z-index: -1;
}

.active {
  background: #071e3d;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.active a {
  color: white;
}

.intro-text,
.intro-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

#leaf-left {
  -webkit-animation: leaf 1s alternate ease infinite;
          animation: leaf 1s alternate ease infinite;
}

#leaf-right {
  -webkit-animation: leaf 1s alternate ease infinite 0.5s;
          animation: leaf 1s alternate ease infinite 0.5s;
}

#clock-hand {
  -webkit-animation: clock 2s linear infinite;
          animation: clock 2s linear infinite;
  transform-box: fill-box;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

#me {
  -webkit-animation: body 1s ease-in-out infinite alternate;
          animation: body 1s ease-in-out infinite alternate;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes leaf {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

@keyframes leaf {
  from {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  to {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

@-webkit-keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes clock {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes body {
  from {
    -webkit-transform: rotateZ(1deg);
            transform: rotateZ(1deg);
  }
  to {
    -webkit-transform: rotateZ(-2deg);
            transform: rotateZ(-2deg);
  }
}

@keyframes body {
  from {
    -webkit-transform: rotateZ(1deg);
            transform: rotateZ(1deg);
  }
  to {
    -webkit-transform: rotateZ(-2deg);
            transform: rotateZ(-2deg);
  }
}

footer {
  background: #071e3d;
  color: white;
  min-height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 5rem;
}

.project-body {
  position: relative;
  scroll-behavior: smooth;
}

/*
.wrapper {
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: y mandatory;
  section {
    scroll-snap-align: start;
    overflow: hidden;
  }
}
*/
.project-nav {
  position: fixed;
  z-index: 1000;
  top: 33%;
  right: 0;
}

.project-nav a {
  border-radius: 0.8rem;
  display: block;
  background: white;
  color: #071e3d;
  margin: 1.3rem;
  width: 30rem;
  height: 6rem;
  letter-spacing: 1.5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translatex(23.5rem);
          transform: translatex(23.5rem);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.project-nav a .text {
  text-align: center;
  margin: 1rem;
}

.project-nav a .img {
  border: 0.2rem solid white;
  border-radius: 0.8rem;
  float: left;
  width: 7rem;
  height: 100%;
  text-align: center;
  background-color: yellow;
}

.project-nav a .img i {
  font-size: 4rem;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  color: white;
  cursor: default;
}

.project-nav a:nth-child(1) {
  -webkit-box-shadow: -2px 2px 20px 0px rgba(0, 0, 0, 0.5);
          box-shadow: -2px 2px 20px 0px rgba(0, 0, 0, 0.5);
}

.project-nav a:nth-child(1) .img {
  background-color: #49beb7;
}

.project-nav a:nth-child(2) {
  -webkit-box-shadow: -2px 2px 20px 0px rgba(0, 0, 0, 0.287);
          box-shadow: -2px 2px 20px 0px rgba(0, 0, 0, 0.287);
}

.project-nav a:nth-child(2) .img {
  background-color: #ff5959;
}

.project-nav a:nth-child(3) {
  -webkit-box-shadow: -2px 2px 20px 0px rgba(0, 0, 0, 0.287);
          box-shadow: -2px 2px 20px 0px rgba(0, 0, 0, 0.287);
}

.project-nav a:nth-child(3) .img {
  background-color: #3d6cb9;
}

.project-nav a:nth-child(4) {
  -webkit-box-shadow: -2px 2px 20px 0px rgba(0, 0, 0, 0.287);
          box-shadow: -2px 2px 20px 0px rgba(0, 0, 0, 0.287);
}

.project-nav a:nth-child(4) .img {
  background-color: #facf5a;
}

.project-nav a:hover {
  -webkit-transform: translatex(5rem);
          transform: translatex(5rem);
}

.splash {
  z-index: -100;
  position: absolute;
}

.project-splash1 {
  top: 0;
  right: 0;
}

.project-splash2 {
  top: 2%;
  left: 0;
}

.project-splash3 {
  top: 35%;
  right: 0;
}

.project-splash4 {
  bottom: 0%;
  right: 0;
}

.nav-project {
  width: 100%;
  margin: auto;
  position: fixed;
  z-index: 100;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, white), to(transparent));
  background: linear-gradient(white 80%, transparent);
}

.head-project {
  height: 10vh;
}

#project-django {
  -webkit-transform: translateY(-6rem);
          transform: translateY(-6rem);
}

#project-django,
#project-sdn {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}

.project1,
.project2 {
  width: 100%;
  max-width: 110rem;
  padding: 5rem;
  background-color: white;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 10px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 10px 40px rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project1 .project-img,
.project2 .project-img {
  min-width: 35rem;
  max-width: 35rem;
  height: 25rem;
  -webkit-transform: translatex(-10rem);
          transform: translatex(-10rem);
  position: relative;
}

.project1 .project-img img,
.project2 .project-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}

.project-img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(33, 230, 194, 0.4)), to(rgba(39, 142, 165, 0.52)));
  background: linear-gradient(to right, rgba(33, 230, 194, 0.4), rgba(39, 142, 165, 0.52));
  border-radius: 0.8rem;
  -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
}

#project-django .project-info .title,
#project-sdn .project-info .title {
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: #1f4287;
}

#project-django .project-info p,
#project-sdn .project-info p {
  margin-bottom: 3rem;
}

#project-django .project-info a,
#project-sdn .project-info a {
  display: inline-block;
  padding: 1rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 230, 195, 0.8)), to(rgba(39, 142, 165, 0.9)));
  background: linear-gradient(to right, rgba(39, 230, 195, 0.8), rgba(39, 142, 165, 0.9));
  border-radius: 0.8rem;
  color: white;
}

#project-django .project-info a:hover,
#project-sdn .project-info a:hover,
#project-html-css .project-info a:hover,
#project-js .project-info a:hover {
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 142, 165, 0.9)), to(rgba(39, 230, 195, 0.8)));
  background: linear-gradient(to right, rgba(39, 142, 165, 0.9), rgba(39, 230, 195, 0.8));
}

#project-html-css,
#project-js {
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#project-html-css {
  padding-top: 7rem;
}

.project2 {
  max-width: 100rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 3rem;
}

.project2 .project-img {
  min-width: 30rem;
  max-width: 30rem;
  height: 20rem;
  -webkit-transform: translatex(-10rem);
          transform: translatex(-10rem);
  position: relative;
}

.project2 p {
  font-size: calc(0.6rem + 1vw);
}

#project-html-css .project-info .title,
#project-js .project-info .title {
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: #1f4287;
}

#project-html-css .project-info .title h3,
#project-js .project-info .title h3 {
  font-size: calc(2rem + 1vw);
}

#project-html-css .project-info p,
#project-js .project-info p {
  margin-bottom: 3rem;
}

#project-html-css .project-info a,
#project-js .project-info a {
  display: inline-block;
  padding: 0.8rem 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(rgba(39, 230, 195, 0.8)), to(rgba(39, 142, 165, 0.9)));
  background: linear-gradient(to right, rgba(39, 230, 195, 0.8), rgba(39, 142, 165, 0.9));
  border-radius: 0.8rem;
  color: white;
}

@media screen and (max-width: 1068px) {
  .project1 {
    max-width: 80rem;
  }
  .project-img {
    min-width: 30rem;
    max-width: 30rem;
  }
  .project2 .project-img,
  .project3 .project-img {
    -webkit-transform: translate(-5rem);
            transform: translate(-5rem);
  }
}

@media screen and (max-width: 720px) {
  #project-django,
  #project-sdn {
    min-height: 90vh;
  }
  #project-html-css {
    padding-top: 0rem;
  }
  .project-body {
    overflow: auto;
  }
  .project-nav {
    top: 30%;
  }
  .project1 {
    padding: 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project1 .project-img {
    min-width: 100%;
    max-width: 100%;
    -webkit-transform: translate(0, -5rem);
            transform: translate(0, -5rem);
  }
  .project2,
  .project3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 4rem;
    padding: 2.5rem;
  }
  .project2 .project-img,
  .project3 .project-img {
    min-width: 100%;
    max-width: 100%;
    -webkit-transform: translate(0, -5rem);
            transform: translate(0, -5rem);
  }
  .project2 p,
  .project3 p {
    font-size: calc(1.2rem + 1vw);
  }
  #project-html-css .project-info .title {
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #1f4287;
  }
  #project-html-css .project-info .title h3 {
    font-size: calc(2.8rem + 1vw);
  }
  #project-html-css .project-info p {
    margin-bottom: 3rem;
  }
  #project-html-css .project-info a {
    display: inline-block;
    padding: 1rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: -webkit-gradient(linear, left top, right top, from(rgba(39, 230, 195, 0.8)), to(rgba(39, 142, 165, 0.9)));
    background: linear-gradient(to right, rgba(39, 230, 195, 0.8), rgba(39, 142, 165, 0.9));
    border-radius: 0.8rem;
    color: white;
  }
}

@media screen and (max-width: 520px) {
  #project-django,
  #project-sdn {
    min-height: auto;
  }
  #project-django {
    margin-top: 10rem;
  }
  #project-sdn {
    margin-bottom: 5rem;
  }
  .project-nav {
    display: none;
  }
  .project1,
  .project2 {
    padding: 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project1 .project-img,
  .project2 .project-img {
    min-width: 35rem;
    max-width: 35rem;
    -webkit-transform: translate(0, -5rem);
            transform: translate(0, -5rem);
  }
  .splash {
    display: none;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90vh;
  height: 90vh;
  width: 90%;
  margin: 0 0 0 auto;
  position: relative;
  overflow: hidden;
}

.forms-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  position: relative;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
  margin: 5rem 20rem;
}

.panel {
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50rem;
          flex: 1 1 50rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.panel .content {
  margin: 4rem;
  padding: 5rem 0;
  color: white;
}

.panel svg {
  -webkit-transform: translate(3rem, -5rem);
          transform: translate(3rem, -5rem);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 2rem;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
}

form .title {
  font-size: 4rem;
  color: #444;
  margin: 4rem 0 1rem 0;
}

.input-field {
  max-width: 380px;
  width: 100%;
  margin: 10px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field .input-box {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
}

.input-field .input-box input {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  resize: none;
  font-size: 2rem;
}

.input-field .input-box span {
  position: absolute;
  left: 0;
  padding: 0.5rem 0;
  margin: 1rem 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input-msg {
  max-width: 400px;
  width: 100%;
  margin: 10px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 85%;
      grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-msg i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-msg .input-box {
  position: relative;
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
}

.input-msg .input-box textarea {
  width: 100%;
  padding: 0.5rem;
  margin: 1rem 0;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  resize: none;
  font-size: 1.5rem;
}

.input-msg .input-box span {
  position: absolute;
  left: 0;
  padding: 0.5rem 0;
  margin: 1rem 0;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input-box input:focus ~ span,
.input-box input:valid ~ span,
.input-box textarea:focus ~ span,
.input-box textarea:valid ~ span {
  color: #278ea5;
  font-size: 1.2rem;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.input-field textarea {
  max-width: 300px;
  width: 100%;
  height: 1000px;
}

.btn {
  width: 15rem;
  background-color: #071e3d;
  border: none;
  border-radius: 2rem;
  outline: none;
  height: 5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 2rem 0;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
}

.btn:hover {
  background-color: rgba(31, 66, 135, 0.911);
}

.container:before {
  content: "";
  position: absolute;
  height: 180%;
  width: 100%;
  top: -70%;
  left: 55%;
  background-image: linear-gradient(50deg, #278ea5e3 20%, #21e6c2d3 50%);
  -webkit-transition: 1.8s ease-in-out;
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: -2;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 90vh;
  width: 95%;
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .skills-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding-bottom: 5rem;
}

.about .skills-wrapper .text {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.about .right-me {
  position: absolute;
  right: -4rem;
  pointer-events: none;
  z-index: 1;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.about .left-me {
  position: absolute;
  left: 0;
  bottom: -1rem;
  z-index: 1;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  padding: 0 4rem 5rem 0;
}

.content h3 {
  margin: 4rem 0;
}

.skill-bars {
  padding: 2.5rem 3rem;
  width: 90%;
  background: #fff;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
}

.skill-bars.text {
  margin-bottom: 4rem;
}

.skill-bars .bar {
  margin: 2rem 0;
}

.skill-bars .bar:first-child {
  margin-top: 0px;
}

.skill-bars .bar .info {
  margin-bottom: 5px;
}

.skill-bars .bar .info span {
  color: #071e3d;
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  -webkit-animation: showText 0.5s 1s linear forwards;
          animation: showText 0.5s 1s linear forwards;
}

@-webkit-keyframes showText {
  100% {
    opacity: 1;
  }
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.8);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 1px rgba(255, 255, 255, 0.8);
  -webkit-animation: animate 1s forwards;
          animation: animate 1s forwards;
}

@-webkit-keyframes animate {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes animate {
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  background: -webkit-gradient(linear, left top, right top, from(#21e6c2b0), to(#278ea5));
  background: linear-gradient(to right, #21e6c2b0, #278ea5);
  -webkit-animation: animate 1s forwards 1s;
          animation: animate 1s forwards 1s;
}

.bar .progress-line.django span {
  width: 80%;
}

.bar .progress-line.html span {
  width: 90%;
}

.bar .progress-line.css span {
  width: 85%;
}

.bar .progress-line.javascript span {
  width: 70%;
}

.bar .progress-line.python span {
  width: 90%;
}

.bar .progress-line.mysql span {
  width: 75%;
}

.progress-line span::before {
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  -webkit-animation: showText2 0.5s linear forwards 1.5s;
          animation: showText2 0.5s linear forwards 1.5s;
}

.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  -webkit-animation: showText2 0.5s 1.5s linear forwards;
          animation: showText2 0.5s 1.5s linear forwards;
}

@-webkit-keyframes showText2 {
  100% {
    opacity: 1;
  }
}

@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.progress-line.django span::after {
  content: "80%";
}

.progress-line.html span::after {
  content: "90%";
}

.progress-line.css span::after {
  content: "85%";
}

.progress-line.javascript span::after {
  content: "70%";
}

.progress-line.python span::after {
  content: "90%";
}

.progress-line.mysql span::after {
  content: "75%";
}

.about-splash-right2 {
  position: absolute;
  right: -4rem;
  bottom: -5rem;
  z-index: -3;
  overflow: hidden;
}

.about-splash-right1 {
  position: absolute;
  right: -4rem;
  top: -10rem;
  z-index: -3;
}

.about-splash-left {
  position: absolute;
  left: -5rem;
  bottom: -5rem;
  z-index: -3;
}
/*# sourceMappingURL=style.css.map */