$header1: 2.8rem;
$header2: 4rem;
$header3: 2.8rem;
$header4: 2rem;
$text: 1.2rem;
$gradient: linear-gradient(left, #21e6c1, #278ea5);
$background-color: #071e3d;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@import "./global";
@import "./intro";
@import "./project";
@import "./contact";
@import "./about";
